/*
Place your custom CSS here
*/
.game-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}
.game-graphic-layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.game-graphic-3d-layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}